.wrap-editor {
  display: flex;
  flex-direction: column;
}

.editor {
  border: 1px solid #e1e1e1;
  width: 800px;
}

.editor-focus {
  width: 800px;
  border: 1px solid #a1a1a1;
}

.preview {
  color: #333;
  width: 800px;
  background-color: #fafafa;
  border: 1px solid #aaa;
  word-wrap: break-word;
}
